@font-face {
  font-family: "Merriweather";
  src: url(../assets/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
} 